AA@charset "utf-8";
* {margin: 0;
   padding:20px }
body {
	background-image: url(images/river.png);
	background-size:cover
}

#eye {
	text-align: center		
}

.night {
	padding: 20px;
	background-color: antiquewhite;
	font-size: 20px		
}

.text {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 2px solid Tomato;
	padding: 30px
}

#pan {
		color: aqua			
}
#pop {
	font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    text-align: center;
}
#kk {
	font-size: 20px;
	text-align: center;
}
